* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #FFF5E2;
    font-family: "khula", sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    height: 100vh;
}

header {
    position: relative;
    height: 100px;
    padding: 30px;
    background-color: #FDBB40;
}

header img {
    width: 180px;
    position: absolute;
    top: -15px;
    right: -80px;
}

main {
    padding: 30px;
    height: calc(100% - 150px);
    background-color: white;
}

main img {
    width: 50px;
}

.ingredient .checkbox input[type=checkbox] {
    visibility: hidden;
}

footer {
    padding: 10px;
    height: 50px;
    color: white;
    background-color: #D33359;
}